<%= render 'layouts/errors', obj: @list %>

<%= form_with model: @list do |f| %>
  <h6>画像</h6>
  <%= f.file_field :image, accept: "image/*" %>
  <h6>タイトル</h6>
  <%= f.text_field :name %>
  <h6>説明</h6>
  <%= f.text_area :introduction %>
  <h6>生息地</h6>
  <%= f.text_field :habitat %>
  <%= f.submit '投稿' %>
<% end %>