<% @lists.each do |list| %>
  <div>
    <%= link_to list_path(list.id) do %>
      <%= image_tag list.get_image, size:"180x140" %>
    <% end %>
    <p>タイトル：<%= list.name %></p>
    <p>説明：<%= list.introduction %></p>
    <p>生息地：<%= list.habitat %></p>
    <p>ニックネーム：<%= list.user.name %></p>
    <p><%= link_to "#{list.post_comments.count} コメント", list_path(list.id) %></p>
  </div>
<% end %>
