<div class= "container">
  <div class='row'>
    <h4>フォロワー　一覧：</h4>
      <% if @users.exists? %>
        <table class='table'>
          <thead>
            <tr>
              <th>ユーザー名</th>
              <th>フォロー中</th>
    　         <th>フォロワー</th>
              <th colspan="3"></th>
    　　    　</tr>
          </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user_path(user.id) do %>
                <%= image_tag user.get_profile_image, class:'profile_image' %>
                <%= user.name %>
              <% end %>
              </td>
              <td>
                <%= link_to user.followings.count, user_followings_path(user.id) %>
              </td>
              <td>
                <%= link_to user.followers.count, user_followers_path(user.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
        </table>
      <% else %>
        <p>ユーザーはいません　　</p>
      <% end %>
    <%= link_to '戻る', user_path(@user.id) %>
  </div>
</div>