<h4>投稿一覧</h4>
<div class="card-list-container py-5">
  <% lists.each do |list| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to list_path(list.id) do %>
      <%= image_tag list.get_image, class:"card-img-top"; %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <p class="card-title">
            <%= link_to(list_path(list.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span> <%= list.name %></span></strong>
            <% end %>
          </p>
          <p class="card-text">説明：<%= list.introduction %></p>
          <pclass="card-text">生息地：<%= list.habitat %></p>
          <span><i class="fas fa-user"></i> By <%= list.user.name %></span>
          <span><%= link_to "#{list.post_comments.count} コメント", list_path(list.id), class:"text-dark" %></span>
          <p id="favorite-<%= list.id %>">
            <%= render "public/favorites/favorites", list: list %>
          </p>

        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%#= paginate lists %>
</div>