<div class="comment-text">
  <% list.post_comments.each do |post_comment| %>
    <div class="row">
      <div class="text-center col-4">
        <%= link_to user_path(post_comment.user) do %>
          <%= image_tag post_comment.user.get_profile_image, class:'profile_image' %><br>
          <%= post_comment.user.name %>
        <% end %>
      </div>
      <div class="comment-text col-4 text-break"><%= simple_format(post_comment.comment) %></div>
      <div class="text-center col-4">
        <% if post_comment.user == current_user %>
          <%= link_to "Destroy", list_post_comment_path(list, post_comment), method: :delete, class: "btn btn-danger pull-right", remote: true %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
