<%= render 'layouts/errors', obj: @user %>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="m-4">ログイン</h1>
      <h5 class="m-5">ユーザー登録がお済みの方はこちらからログイン</h5>
      <%= form_with model: @user, url: user_session_path do |f| %>
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <%= f.label :"メールアドレス", class:"col-sm-2 col-form-label" %>
          <div class="col-sm-8">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", style:"width: 50%;" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2"></div>
          <%= f.label :"パスワード", class:"col-sm-2 col-form-label" %>
          <div class="col-sm-8">
            <%= f.password_field :password, autocomplete: "current-password", class:"form-control", style:"width: 50%;" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-4"></div>
          <div class="col-sm-8">
            <%= f.submit "ログイン", class:"btn btn-success mb-3 mt-3", style:"width: 35%;" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-5" style="margin-bottom: 200px;">
    <h5 class="m-5">ユーザー登録がお済みでない方はこちらから<%= render "public/shared/links" %></h5>
  </div>
</div>
